* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1 {
  font-weight: 100;
  font-size: 52px;
  font-family: "Playfair Display", serif;
  color: #683126;
}

h3 {
  color: #4b2307;
  text-transform: uppercase;
}

h5{
      font-weight: 800;
      font-size: 15px;
    line-height: 21px;
}
p {
  color: #7e4b30;
  font-weight: 500;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}
a {
  color: #683126;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7ead9;
  position: fixed;
  width: 100%;
  padding: 15px;
  z-index: 1;
  height: 78px;
  
}

#presentation {
  height: 64vh;
  margin-top: 126px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 23px;
}

#logoh {
  width: 100%;
  height: 237px;
  margin-block: -74px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fef6eb;
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

img {
  width: 92%;
  padding: 10px 10px;
  border-radius: 10px;
  height: 300px;
  object-fit: cover;
  border-radius: 17px;
}
h3,
img {
  font-family: "Playfair Display", serif;
}

.prodcard {
  background-color: #fcf5e8;
  width: 320px;
  border-radius: 7px;
  gap: 50px;
  padding: 12px;
  transition: all ease 300ms;
}

.prodcard:hover {
  transform: scale(1.02);
  background-color: #f7ead9;
  box-shadow: 0 4px 15px #00000033;
}

#prod {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1040px;
  margin: auto;
}

.clientcard {
  background-color: #f7ead9;
  border: #fcf5e8 solid 1px;
  color: #683126;
      line-height: 21px;
  width: 38%;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 15px;
  img{
        width: 60px;
        height: 50px;
  }
}

button {
  border-radius: 1px;
  padding: 20px 22px 20px;
  margin: 10px, 0;
  border-style: none;
  background-color: #683126;
  border: #fcf5e8 solid 1px;
  color: #fcf5e8;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  transition: all ease 300ms;
}

button:hover {
  transform: scale(1.02);
  background-color: #f7ead9;
  color: #4b2307;
  border:#4b2307 solid 1px;
}

#avis {
  justify-items: center;
  padding: 32px;
  display: flex;
  gap: 20px;
}

#logo {
  /* width: 28%;
  height: 120px; */
   width: 100%; 
  height: 100px;
}

h2{
  margin-top:24px;
  font-family: "Playfair Display", serif;
  color: #683126;
}


/* map */

#map {
   height: 493px;
    width: 50%;
    align-self: end;
    margin-bottom: 4%;
    z-index: -1;
    margin-right: 4%;
}



/* formulaire de contact */

.card{
  background-color: #f7ead9;
    width: fit-content;
    padding: 40px;
    margin: 50px auto;
    text-align: center;
    border-radius: 7px;
}

    
  

#Contact{
  display: flex;
  gap: 30px;

}

.firstrow{
    display: flex;
}

.formular{
   width: fit-content;
    margin: 32px auto;
    padding: 40px;
    gap: 12px;
    display: flex; 
    flex-direction: column;
}

    

 #form{
    gap: 21px;
    display: flex;
    flex-direction: column;
    width: 430px;
    gap: 7px;

    
 }   

.formGroup {

    margin-bottom: 7px;
        
    
}

.form1{
    width: -webkit-fill-available;
    border-radius: 7px;
    border: #683126 solid 1px;
    padding: 12px;
}

.btn{
       border-radius: 1px;
    padding: 20px 22px 20px;
    margin: 10px, 0;
    border-style: none;
    background-color: #683126;
    border: #fcf5e8 solid 1px;
    color: #fcf5e8;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    transition: all ease 300ms;
    
}
.btn:hover {
  transform: scale(1.02);
  background-color: #f7ead9;
  color: #4b2307;
  border:#4b2307 solid 1px;
}
       
    

#btnform{
    border-radius: 3px;
    padding:8px;
    margin: 10px 0;
    background-color:#683126  ;
    color: #ffffff;
    border-style: none;
   
}





/* footer*/

#conta{
  a{
    color: #f2efee;
  }

}

#menu{
  color: #f2efee;
  width: 255px;
  ul{
    display: flex;
    flex-direction: column;
  }
  a{
        list-style-type: none;
    color: #f2efee;
  }
   
}


footer {
  background-color: #683126;
  color: #f2efee;
  padding: 3%;
  text-align: center;
 align-items: center;
      display: flex;
    justify-content: space-between;
   
}



  
