* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1 {
  font-weight: 800;
  font-size: 40px;
  font-family: "Playfair Display", serif;
  color: #683126;
}

h3 {
  color: #4b2307;
  text-transform: uppercase;
}

p {
  color: #7e4b30;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}
a {
  color: #683126;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7ead9;
  position: fixed;
  width: 100%;
  padding: 15px;
  z-index: 1;
  
}

#presentation {
  height: 64vh;
  margin-top: 126px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

#logoh {
  width: 100%;
  height: 237px;
  margin-block: -74px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fef6eb;
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

img {
  width: 92%;
  padding: 10px 10px;
  border-radius: 10px;
  height: 300px;
  object-fit: cover;
  border-radius: 17px;
}
h3,
img {
  font-family: "Playfair Display", serif;
}

.prodcard {
  background-color: #fcf5e8;
  border: #513528 solid 1px;
  width: 320px;
  /* box-shadow: 10px 10px 10px 10px rgb(208, 208, 208); */
  border-radius: 7px;
  gap: 50px;
  padding: 12px;
  transition: all ease 300ms;
}

.prodcard:hover {
  transform: scale(1.02);
  background-color: #f7ead9;
  box-shadow: 0 4px 15px #00000033;
}

#prod {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1040px;
  margin: auto;
}

.clientcard {
  background-color: #f7ead9;
  border: #fcf5e8 solid 1px;
  color: #683126;

  /* background-color: white; */
  width: 38%;
  /* box-shadow: 10px 10px 10px 10px rgb(208, 208, 208); */
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 15px;
}

button {
  border-radius: 1px;
  padding: 20px 22px 20px;
  margin: 10px, 0;
  border-style: none;
  background-color: #683126;
  border: #fcf5e8 solid 1px;
  color: #fcf5e8;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  transition: all ease 300ms;
}

button:hover {
  transform: scale(1.02);
  background-color: #f7ead9;
  color: #4b2307;
  border:#4b2307 solid 1px;
}

#avis {
  justify-items: center;
  padding: 32px;
  display: flex;
  gap: 20px;
}

#logo {
  width: 28%;
  height: 120px;
}

h2{
  margin-top:24px;
  font-family: "Playfair Display", serif;
  color: #683126;
}


/* map */

#map {
   height: 180px;
   height: 250px;
   width: 70%;
   align-self: anchor-center;
   margin-bottom: 4%;
   margin-top: 2%;


}

/* footer*/

footer {
  background-color: #683126;
  color: #f2efee;
  padding: 3%;
  text-align: center;
}
